* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #54392a;
}
body{
    transition: .3s;
}
.dark{
    color: #edded3;
    text-shadow: 5px 5px 5px #402615;
}
.light{
    color: #461615;
    text-shadow: 5px 5px 5px #7d5e3c;
}

.nav{
    background-color: #321b1d;
}


header{
    text-align: center;
    padding: px;
    font-family: playfair ;
    text-transform:uppercase;
    transition: 1s;
    width: fit-content;
    margin: auto;
    letter-spacing: 2px;

}
header:hover{
    rotate:y 360deg;
}
.ul1{
    display: flex;
    flex-direction: column;
    animation: nav 1s forwards;
    width: fit-content;
    margin-top: 40px;
    position: absolute;
    left: 2%;
}
ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 140px;
    left: 15%;
    animation: nav 1s forwards;
    width: fit-content;
    float: inline-start;
    margin-bottom: 30px;
} 
ul li{ 
   list-style: none; 
   padding: 10px;
}
ul li a{
    text-decoration: none;
    transition: .5s;
    color: inherit;
    padding: 5px;
    font-weight: bold;
}
ul:hover li a{
    opacity: .5;
}
ul li a:hover{
    background-color:#927355;
    border-radius: 20px;
    opacity: 1;
    color: white;
    scale: 1.2;
    box-shadow: 3px 3px 5px 1px #5d4733;
}
.intro{
    height:30% ;
    display: flex;
   
}

.intro .text{

    width: 50%;
    padding: 20px;
    margin: 30px;
    text-align: start;
    word-spacing: 2px;
    line-height: 25px;
    font-size: 20px;
    height: 50%;
}
.intro .img{
    padding: 20px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}      
.intro img {
    width: 90%;
    height: 380px;
    border-radius: 10px;
}
.text h3{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    color: #54392a;
}
section .text{
    background-color: #edded3;
    padding: 20px;
    text-align: start;
    word-spacing: 2px;
    line-height: 25px;
    font-size: 20px;
    height: 50%;
}
section p{
    color: #54392a;
}
.carousel{
    width: 100%;
    overflow: hidden;
    padding: 20px;
    margin-top: 10px;
    /* display: flex;
    */

}
.slider{
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;  
   
}
.slide{
    display: flex;
}
.card img{
    flex: 0 0 auto;
    width: 200px ;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
border-radius: 20px;
margin: 10px;}


@keyframes scroll{
0%{
    transform: translateX(30%);
}
100%{
    transform: translateX(-50%);
}
}
.carousel :hover .card
{
    
    filter: grayscale(1);
}
.carousel .card:hover{
    filter: grayscale(0);
}

footer{
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
}
footer p{
    margin: 5px auto;
}
footer button, footer button a{
    margin: 5px auto;
    padding: 10px;
    background-color: #edded3;
    color: #54392a;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 10px;

}
